# ==========================================
# CMake build directories and artifacts
# ==========================================
build/
.cmake/
CMakeCache.txt
CMakeFiles/
CMakeScripts/
cmake_install.cmake
Makefile

# ==========================================
# Compiled Executables and Libraries
# ==========================================
*.exe
*.out
*.app
*.dll
*.so
*.dylib

# ==========================================
# IDE Specific folders (Optional but recommended)
# ==========================================
.vscode/
.vs/
out/